{% load static %}
<html>
<head>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <title>Quiz Application</title>
    <link rel="stylesheet" href="">
    <script src="{% static 'js/quiz.js' %}"></script>
</head>
<body>
<div class="container">
    <header>
        <h1>Hello there!</h1>
        this gonna be a where evaluation begin from user
    </header>

    <section>
        <div id="results"></div>
        <form name="quiz_form" onsubmit="onSubmitAnswer()">
            {% for q in questions %}
            <h3> {{ q.1 }}. {{ q.0.question }}</h3>
            <input type="radio" name="q{{ q.0.id }}" value="a" id="q1a"> a. {{ q.0.option1 }}<br><br>
            <input type="radio" name="q{{ q.0.id }}" value="b" id="q1b"> b. {{ q.0.option2 }}<br><br>
            <input type="radio" name="q{{ q.0.id }}" value="c" id="q1c"> c. {{ q.0.option3 }}<br><br>
            <input type="radio" name="q{{ q.0.id }}" value="d" id="q1d"> d. {{ q.0.option4 }}<br><br>
            {% endfor %}

            <br>
            <br>
            <input type="submit" value="Submit Answer">
        </form>

    </section>
</div>
</body>
</html>